@font-face {
    font-family: LibreFranklin;
    src: url("../assets/fonts/LibreFranklin-VariableFont_wght.ttf");
}

@font-face {
    font-family: RedHatDisplay;
    src: url("../assets/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

#root {
    --bg-100: #fdfdfd;
    --bg-400: #f2f3f4;

    --green-300: #FBFCFA;
    --green-400: #F0F5EA;
    --green-500: #3da35d;
    --green-600: #41682C;
    --green-900: #072100;

    --body-font: "LibreFranklin", sans-serif;
    --heading-font: "RedHatDisplay", sans-serif;

    --fs-100: 1rem;
    --fs-400: 1.3rem;
    --fs-700: 2rem;
    --fs-900: 2.8rem;
    background-color: var(--bg-400);
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: calc(100%-2rem);
}

ul,
li {
    list-style-type: none;
}

/* Main Container */
.main-container {
    display: grid;
    grid-template-rows: 8rem 1fr 2rem;
    grid-template-columns: fit-content(100%) fit-content(100%);
    gap:3rem;
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
}

header {
    grid-column: 1 /3;
    grid-row: 1 /2;
}

.input-div {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.display-div {
    grid-column: 2 / 3;
}

/* Header */

header {
    display: grid;
    place-items: center;
    cursor: pointer;
    color: var(--green-900);
    font-weight: 900;
    width:fit-content;
    height:fit-content;
    place-self:center;
    margin-bottom:-2rem;
}

/* Input Styles */
input,
textarea {
    border: solid 2px var(--green-600);
    border-radius: 6px;
    background-color: var(--green-300);
    padding: 0.4rem 0.7rem;
}

input:focus,
textarea:focus {
    background-color: var(--green-400);
}

/* Button Styles Click Relay*/
button {
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
}

/* Downlaod Bt */
.input-div>button:first-child {
    display: flex;
    flex-direction: row;
    border: solid 2px #AB322F;
    background-color: #f4ece8;
    color: #AB322F;
    border-radius: 6px;
    font-size: var(--fs-100);
    font-weight: 700;
    padding: 0.4em 0.6em;
    cursor:pointer;
}

.input-div>button:first-child>img {
    width: 1.6rem;
    margin-right: 2px;
}

/* Input Div */
.input-div {
    display: grid;
    place-items: center;
    gap: 3rem;
    font-family: var(--body-font);
    justify-self:end;
}

.input-div>div {
    background-color: var(--bg-100);
    padding: 1.5rem 1.5rem;
    border-radius: 12px;
    width: 22rem;

    display: grid;

    box-shadow: -16px 16px 1px -1px rgba(61, 163, 93, 0.7);
    -webkit-box-shadow: -16px 16px 1px -1px rgba(61, 163, 93, 0.7);
    -moz-box-shadow: -16px 16px 1px -1px rgba(61, 163, 93, 0.7);
}

.input-div>div>form {
    display: grid;
    gap: 8px;
    margin: 1rem 0;
}

.input-div>div>form>* {
    width: calc(100% - 2.8rem)
}

.input-div>div>h2,
.input-bts {
    display: flex;
    flex-direction: row;
}

.input-div>div>h2>img {
    width: 36px;
    margin-right: 8px;
}

.input-div>div:nth-child(6)>h2>img,
.input-div>div:nth-child(5)>h2>img {
    width: 23px;
}

.input-div>div>h2,
.input-div>div>div {
    width: fit-content;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.input-bts>img {
    width: 28px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.input-bts img:active {
    transform: scale(0.8);
}

.input-bts {
    justify-self: end;
    grid-column:2 / 3;
}

.input-div>div>h2 {
    font-size:var(--fs-400);
    cursor:pointer;
}

/* Styles for buttopn/heading sidewise logic */

.input-div>div {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.input-div>div>form {
    grid-column: 1 / span 2;
}

/* Add Button */
.input-div>div>button {
    width: fit-content;
    padding: 0.3em 0.4em;
    grid-column: 2 / 3;
    justify-self: end;
    margin-right: 1.5rem;
    border: 2px solid var(--green-600);
    background-color: #25a244;
    cursor: pointer;
    color: var(--bg-400);
    font-weight: 700;
    border-radius: 4px;
}

/* DISPLAY SECTION */
.display-div{
    width:fit-content;
    height:fit-content;
    padding:0.2rem;
    border:2px solid var(--bg-100);
    border-radius:12px;
    background-color:var(--bg-100);
    font-family: 'Times New Roman', Times, serif;

    box-shadow: -16px 16px 1px -1px rgba(61, 163, 93, 0.7);
    -webkit-box-shadow: -16px 16px 1px -1px rgba(61, 163, 93, 0.7);
    -moz-box-shadow: -16px 16px 1px -1px rgba(61, 163, 93, 0.7);

    margin-left:2rem;
}

/* resume-page */
.resume-page {
    width: 49.56rem;
    height:70.14rem;
    padding-top:1.6rem;
}

/* Heading Section */

.resume-page>div>h1 {
    font-weight:400;
    text-align: center;
    font-size:var(--fs-700);
}

.social-links {
    padding-left:0px;
    display: flex;
    justify-content:center;
    gap: 10px;
    margin-top:6px;
    margin-bottom:1.2rem;
}

.social-links a,
.social-links a:visited {
    display: flex;
    align-items: center;
    gap: 6px; 
    color: #003399;
    text-decoration: none;
}

.social-links img {
    filter:invert(10%) sepia(73%) saturate(6285%) hue-rotate(220deg) brightness(89%) contrast(101%);
    width:23px;
}

.social-links li {
    border-right:1px solid black;
    padding-right:10px;
}

.social-links li:last-child {
    border-right:none;
    margin-left:-6px;
}

.social-links li:last-child img {
    margin-right:-6px;
}

.personal-display {
    margin-bottom:1rem;
}

/* Education Section */
.resume-page>div {
    margin:0 2rem;
}
.resume-page>div>h2 {
    font-size:var(--fs-100);
    font-weight: 400;
    text-transform: uppercase;
    border-bottom:1px solid black;
    
}

.resume-page>div>h2>span {
    font-size:1.7rem;
}

.education-children {
    margin-top:8px;
    display: grid;
    grid-template-columns: fit-content(100%) 1fr fit-content(100%);
}

.education-children > p:nth-child(3n+2) {
    margin: 0 1rem;
}

/* Work Section */
.work-display>h2 {
    grid-column:1 / span 3;
}
.resume-page>div>h3 {
    width:fit-content;
}

.work-children {
    display:grid;
    grid-template-columns: 1fr fit-content(100%);
}
.work-children > p:nth-child(n+2) {
    grid-column: 2 / 3;
}

.work-children > p:nth-child(3n) {
    grid-column: 1 / 3;
    
    margin-bottom:6px;
}

/* Skills Section */
.skill-children {
    display:grid;
    grid-template-columns: fit-content(100%) 1fr;
}

.skill-children > p:nth-child(2n) {
    margin-left: 1rem;
}

/* Project Section */
.project-display>h2 {
    grid-column:1 / span 3;
}

.project-children {
    display:grid;
    grid-template-columns: 1fr fit-content(100%);
}
.project-children > p:nth-child(n+2) {
    grid-column: 2 / 3;
}

.project-children > p:nth-child(3n) {
    grid-column: 1 / 3;
    
    margin-bottom:6px;
}

footer {
    width:100%;
    height:100%;
    font-size: var(--fs-100);
    text-align: center;
    color:var(--green-900);
    font-family:var(--body-font);
    grid-column: 1 / 3;
}

footer a {
    all:unset;
    font-weight: 600;
    cursor:pointer;
    background-image:linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #caa256 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: animated_gradient_text 12s ease-in-out infinite;
    -moz-animation: animaanimated_gradient_textted_text 12s ease-in-out infinite;
    -webkit-animation: animated_gradient_text 12s ease-in-out infinite;

}

footer a:first-child {
    background-image: linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: animated_gradient_text 12s ease-in-out infinite;
    -moz-animation: animaanimated_gradient_textted_text 12s ease-in-out infinite;
    -webkit-animation: animated_gradient_text 12s ease-in-out infinite;
}

footer a:hover {
    background-image: linear-gradient(90deg, hsla(155, 23%, 71%, 1) 0%, hsla(302, 17%, 32%, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: animated_gradient_text 12s ease-in-out infinite;
    -moz-animation: animaanimated_gradient_textted_text 12s ease-in-out infinite;
    -webkit-animation: animated_gradient_text 12s ease-in-out infinite;
}
  
  @keyframes animated_gradient_text {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
/* Utility Classes */

.primary-header {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--fs-900);
}